button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: brown;
   
}
 
.filter{
padding-left: 700px;
float: right;
 
 
 
 
 
 }
 .tableContainer,th,tr,td{
   border:transparent 2px solid;
    margin:0 auto;
    margin-top:25px;
    background-color:white;
 }
 td{
    padding: 10px 10px;
    padding-left: 20px;
 }

.start{
    display: flex;
    padding-left: 150px;
    height: 50px;
    margin:0 auto;
   
}
select{
    border-radius: 10px;
    width: 130px;
}
 img{
    height: 60px;
    width: 60px;
 }
 
nav{
    padding-left: 150px;
}
